h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
     color: '#777';
     background: aquamarine;
     width: '960px';
     font-size: '18px';
}
.container {
    text-align: center;
    text-decoration-color: aliceblue;
    height: 125px;
    width: 80%;
}


#left {
    Background-color: blue; 
    height: 100%;
    width: 25%;
    float: left;
}

#right {
    background-color: blue;
    height: 100%;
    width: 25%; 
    float: right;

}